mixin video(video)
  .video-item-wrap
    .video-item
        a(href=`/videos/${video.id}`)
          .thumbnail-wrap
            .thumbnail
              .thumbnail-img hi
        .details
          a(href=`/videos/${video.id}`)
            a(id="user-profilepic")
              img(src=video.owner.avatarUrl)
          .meta
            h3
              a(href=`/videos/${video.id}`)
                #video-title=video.title
            .video-meta-block
              p=video.owner.username