mixin video(video)
  article
    .video-item-wrap
      .video-item
        a.thumbnail-anchor(href=`/videos/${video.id}`)
          .thumbnail-wrap
            .thumbnail
              img.thumbnail-img(src=video.thumbUrl, crossorigin)
        .details
          .meta
            if !pathUrl.includes("search")
              a(href=`/videos/${video.id}`)
                a#user-profilepic(href=`/users/${video.owner._id}`)
                  img.profile-img(src=video.owner.avatarUrl, crossorigin)
            .meta-txt
              a(href=`/videos/${video.id}`)
                h3#video-title= video.title
              .video-meta-block
                if pathUrl.includes("search")
                  a#user-profilepic(href=`/users/${video.owner._id}`)
                    if pathUrl.includes("users")
                      img.profile-img(src=user.avatarUrl, crossorigin)
                    else
                      img.profile-img(src=video.owner.avatarUrl, crossorigin)
                p= video.owner.name
                p= `${formatCreatedDate(video.createdAt)} · 조회수 ${video.meta.views}회`
