mixin video(video)
  .video-item-wrap
    .video-item
        a(href=`/videos/${video.id}`)
          .thumbnail-wrap
            .thumbnail
             .thumbnail-img hi
        a(href="/users/edit", title="edit profile")
                .user-profilepic
                  img(
                    src='/' + loggedInUser.avatarUrl,
                    width="100",
                    height="100"
                  )      
        h4
          a(href=`/videos/${video.id}`)= video.title
        p= video.description
        ul
          each hashtag in video.hashtags
            li= hashtag
        small= video.createdAt