extends layouts/base.pug

block content
  .page-manager
    .form-page-wrap
      .form-wrap
        .form-box
          form(method="POST")
            input(
              name="title",
              placeholder="Title",
              value=video.title,
              required,
              maxlength="100"
            )
            input(
              name="description",
              placeholder="Description",
              required,
              type="text",
              minlength="10",
              value=video.description
            )
            input(
              name="hashtags",
              placeholder="Hashtags, separated by comma.",
              required,
              type="text",
              value=video.hashtags.join()
            )
            input(value="Save", type="submit")
