extends layouts/base

block content
  .page-manager
    .form-page-wrap
      .form-wrap
        .form-box
          form(method="POST", enctype="multipart/form-data")
            #preview-wrap.profile-img-wrap
              .edit-profile-img
                img#preview-img.profile-img(
                  src=loggedInUser.avatarUrl,
                  crossorigin
                )
              i.fa-regular.fa-image
            input#avatar(type="file", name="avatar", accept="image/*")
            if errorMessage
              span= errorMessage
            input(
              placeholder="id",
              name="userid",
              type="text",
              required,
              value=loggedInUser.username
            )
            input(
              placeholder="email",
              name="email",
              type="email",
              required,
              value=loggedInUser.email
            )
            input(
              placeholder="username",
              name="name",
              type="text",
              required,
              unique,
              value=loggedInUser.name
            )
            input(
              placeholder="location",
              name="location",
              type="text",
              required,
              value=loggedInUser.location
            )
            if !loggedInUser.socialOnly
              hr
              .form-btn
                a(href="change-password") Change Password &rarr;
            button#edit-profile-btn(type="submit", value="Update Profile") Update Profile

block scripts
  script(src="/static/js/imagePreview.js")
