extends base.pug
include mixins/video

block content
  .page-manager
    .contents-wrap
      .category-bar
        ul
          li 전체
          li 음악
          li 랩
          li 요리
          li 애완동물
          li 예능
          li 최근에 업로드된 동영상
      .masthead_ad
        .svt-promo-banner
          .banner
            .banner-text
              h1 Check out the new song<br>"Pretty you" by Seventeen!
                a(href="http://localhost:4000/videos/61d433efa11ad303fa6d6cbe")
              a#banner-btn(
                href="http://localhost:4000/videos/61d433efa11ad303fa6d6cbe"
              )
                .banner-btn Check out now!
            #videoContainer
              video(
                src="/uploads/videos/9961300332fd80d2005df5560d6902cc",
                autoplay,
                muted
              )
              #videoControls.videoControls
                .videoControls__play
                  span#play.videoControls__playBtn
                    i.fas.fa-play
                  .videoControls__time
                    span#currenTime 00:00
                    span /
                    span#totalTime 00:00
                input#timeline.videoControls__timeline(
                  type="range",
                  step="1",
                  value="0",
                  min="0"
                )
                .videoControls__volume
                  input#volume(
                    type="range",
                    step="0.1",
                    value=0.5,
                    min="0",
                    max="1"
                  )
                  span#mute
                    i.fas.fa-volume-up
                div
                  span#fullScreen
                    i.fas.fa-expand
        #close-btn
      .contents-container
        .contents
          .video-wrap
            each video in videos
              +video(video)
            else
              li sorry nothing found.

block scripts
  script(src="/static/js/videoPlayer.js") 
