extends layouts/base

block content
  .page-manager
    .form-page-wrap
      .form-wrap
        .form-box
          h1#page-title= pageTitle
          if errorMessage
            span= errorMessage
          form(method="POST")
            input(
              placeholder="id",
              name="userid",
              type="text",
              required,
              unique
            )
            input(
              placeholder="password",
              name="password",
              type="password",
              required
            )
            button(type="submit", value="log in") 로그인
            br
            a(href="/users/github/start") Continue with GitHub
              i.fab.fa-github

          hr
          .form-btn
            a(href="/join") Don't have an account?
              span Join now
