extends layouts/base.pug

block content
  .page-manager
    .form-page-wrap
      .form-wrap
        .form-box
          h1#page-title= pageTitle
          if errorMessage
            span= errorMessage
          form(method="POST", enctype="multipart/form-data")
            .upload-record-wrap
              .upload-video-wrap
                i.fa-solid.fa-file-arrow-up
                label(for="video") Upload Video
                input#videoInput(
                  type="file",
                  accept="video/*",
                  required,
                  name="video"
                )
              #record-btn.button-form
                i.fa-solid.fa-video
                p Record

            label#thumbLabel(for="thumb") Select Thumbnail
            .thumbnails-wrap
              .thumbnail-preview
              .thumbnail-input-preview
              button.upload-thumb-btn.button-form
                i.fa-solid.fa-images 
                p Upload Thumbnail
              input#thumb(type="file", accept="image/*", name="thumb")
            input(
              name="title",
              placeholder="Title",
              required,
              type="text",
              maxlength="100"
            )
            input(
              name="description",
              placeholder="Description",
              required,
              type="text",
              minlength="10"
            )
            input(
              name="hashtags",
              placeholder="Hashtags, separated by comma.",
              required,
              type="text"
            )
            button#upload-btn(type="submit", value="upload video") Upload
block scripts
  script(src="/static/js/recorder.js")
  script(src="/static/js/getThumbnail.js")
