extends base.pug

block content
  .page-manager
    .form-page-wrap
      .form-wrap
        .form-box
          div
            video#preview
            button#startBtn Start Recording
          h1#page-title= pageTitle
          if errorMessage
            span= errorMessage
          form(method="POST", enctype="multipart/form-data")
            label(for="video")
            input#video(type="file", accept="video/*", required, name="video")
            input(
              name="title",
              placeholder="Title",
              required,
              type="text",
              maxlength="50"
            )
            input(
              name="description",
              placeholder="Description",
              required,
              type="text",
              minlength="10"
            )
            input(
              name="hashtags",
              placeholder="Hashtags, separated by comma.",
              required,
              type="text"
            )
            button#upload-btn(type="submit", value="upload video") Upload Video
block scripts
  script(src="/static/js/recorder.js")
