header
  .masthead
    .masthead-container
      .masthead-start
        button.guide-menu
          svg(viewBox="0 0 100 80" width="20" height="20")
            rect(width="100" height="4") 
            rect(y="30" width="100" height="4") 
            rect(y="60" width="100" height="4")
        a.svttube-logo(href="/")
          i.fab.fa-youtube.logo-icon
          i SvtTube
      .searchbox
        .searchbox-form
            form(method="GET", action="/search")
                input(type="text" name="keyword" placeholder="검색")
                button(type="submit" value="search now!")
                  i.fas.fa-search
      nav.masthead-end
        ul
          if loggedIn
            li 
              a(href=`/users/${loggedInUser._id}`) My Videos
            li 
              a(href="/users/logout") Logout
            li 
              a(href="videos/upload") Upload Videos
            li
              a(href="/users/edit", title="edit profile")
                .user-profilepic
                  img(
                    src='/' + loggedInUser.avatarUrl,
                    width="100",
                    height="100"
                  )
          else
            //- li 
            //-   a(href="/search") Search
            //- li 
            //-   a(href="/join") Join
            li
              button.loginbtn.svt-icon
                a(href="/login")
                  i.far.fa-user-circle
                  i 로그인
  .guide-container
    .guide-wrap
      .section
        ul
          li 
            i.fas.fa-home
            span 홈
          li
            i.far.fa-compass
            span 탐색
          li
            i.far.fa-caret-square-right
            span 구독
          hr
          li
            i.far.fa-hdd
            span 보관함
          li
            i.far.fa-clock
            span 시청기록
          hr
          li
            i.far.fa-thumbs-up
            span 좋아요 표시한 동영상
          hr
    div(id="footer-wrap")
      footer &copy; #{new Date().getFullYear()} SVTtube